{% extends 'everyone_in_touch/base.html' %}


{% block title %}
{% endblock %}

{% block content %}
    <div class="container" style="width: 50rem;">
        <h1>What is Everyone in Touch?</h1>
        <p>
            Everyone in Touch is a service that helps clients and professionals meet.
        </p>
        <p>
            Clients find professionals here to learn any language(perhaps any language) - English, Spanish, French etc. In total, there are more than 2,300,000 specialists in Everyone in Touch on 100+ languages.
        </p>
        <p>
            Private specialists find clients with the help of EIT. More than 20 thousand new orders appear on our website every day.
        </p>
        <p>
            How can a client choose a specialist?<br>
            How can a specialist find an order?<br>
            How do reviews appear on the Pro site?<br>
            Who is responsible for the result?<br>
        </p>
        <h2>How can a client choose a specialist?</h2>
        <p>
            Enter on the site in the search bar the specialist or service you need and answer a few questions - when to start work, what budget do you expect, where is it convenient to meet.
        </p>
        <p>
            The order will appear on the site, specialists will offer their services and prices. Choose the right one: by reviews, rating, examples of work. Pay attention to the mark "Passport verified" in the application form. The search for a specialist is free. And for the work done, you pay the specialist directly in a convenient way. the work you pay is guaranteed in the original way.
        </p>
        <h2>How can a specialist find an order?</h2>
        <p>
            All orders are visible in your account. Choose the one that suits your budget, timing, location. Send a response - an offer to the client of your services. With the response, the client will receive your phone number and will be able to contact you.
        </p>
        <p>
            Several specialists may respond to an order. The client chooses the right one.<br>
            At EIT, you pay per completed order or per response, depending on your specialty.<br>
            After the work is completed, you will receive the money directly from the client, the entire amount will remain with you.<br>
        </p>
        <h2>
            How do reviews appear on the EIT site?
        </h2>
        <p>
            As soon as the specialist has confirmed that the order has been completed, we will ask the client to leave feedback on his work.<br>
            All reviews on the site are real: only a person who has found a specialist through the EIT website can publish a review.<br>
        </p>
        <h2>Who is responsible for the result?</h2>
        <p>
            We do not provide services, but help specialists and clients to meet. It is important for us that the service we create is reliable and secure.
        </p>
        What we do:
        <ul>
            <li>
                We ask all specialists to pass the verification of documents. Those who did this are easy to find by the mark “Passport checked” in the profile;
            </li>
            <li>
                We publish only verified reviews. With the help of reviews, customers can form an impression about a specialist;
            </li>
            <li>
                We block specialists and clients who violate the rules of the service;
            </li>
            <li>
                We help to deal with difficult situations. If you have any difficulties while working, please contact our support team at nikolajpetrishchev@gmail.com.
            </li>
        </ul>
        What we recommend to you:
        <ul>
            <li>
                check the documents of the person with whom you will work. Write down the data of the passport and registration;
            </li>
            <li>
                if the specialist you chose did not come to you, refuse his services and let us know about it;
            </li>
            <li>
                draw up a contract before starting work. This will ensure that both parties understand the task and conditions correctly;
            </li>
            <li>
                if you transfer money or valuables to a specialist, draw up an agreement;
            </li>
            <li>
                choose specialists who give a guarantee. Warranty conditions are usually specified in the profile.
            </li>
        </ul>
    </div>
{% endblock %}
