{% extends 'everyone_in_touch/base.html' %}
{% load static %}
{% block title %}
{% endblock %}


{% block content %}
    <nav class="navbar bg-light">
    {% if request.user.is_authenticated %}
        <span>
            Welcome {{ request.user }}!
            <a href="{% url 'logout' %}">Logout</a>
        </span>
    {% else %}
        <span>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'sign_up' %}">Sign Up</a>
        </span>
    {% endif %}
    </nav>
    <hr>
{% endblock %}