{% extends 'everyone_in_touch/base.html' %}


{% block title %}
{% endblock %}


{% block content %}
    <div class="container text-center mt-3 border-1">
    <p>Welcome to the educational portal: Everyone in Touch!</p>
    <form action="{% url "login" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="form-label">
            Username:
            <input class="form-control" type="text" name="username" placeholder="Username"/>
        </label><br>
        <label class="form-label">
            Password:
            <input class="form-control" type="password" name="password" placeholder="Password" />
        </label><br>
        <button class="btn btn-outline-success bi bi-box-arrow-in-right" type="submit"> Login</button>
    </form>

    </div>
{% endblock %}